body { 
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background: #111;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #222828;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.x.axis text {
    fill: #58C7B6;
}

.y.axis text {
    fill: #58C7B6;
    font-size: 20px;
    text-align: center;
    /*display: none;*/
}

.y-axis-gradient-line {
    stroke: url(#temperature-gradient);
}

#mapDiv {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    max-width: 100%;
    height: 60%;
    transition: margin-right .5s;
}

#chartDiv {
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 40%;
    background-color: #202222
}

#navbar {
    top: 20px;
    right: 0px;
    position: absolute;
    z-index: 99;
}

.navbar-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 25px;
    
    line-height: 30px;
    text-align: center;
    vertical-align: middle; 
    cursor: pointer;
}

#sidebar {
    top: 0;
    right: 0;
    position: absolute;
    width: 0px;
    height: 60%;
    z-index: 99;
    background-color: rgba(34, 40, 40, 0.8);
    /*border: 0.5px #58C7B6 solid;*/
    transition: 0.5s;
    color: #eee;
    overflow: auto;
    
}

#sidebar.hide {
    display: none;
}

.wrapper {
    padding: 10px 20px;
    border-top: 1px solid rgba(88,199,182,0.2);
}

#siderbar-title-wrapper{
    padding-top: 15px;
    padding-bottom: 10px;
}

.sidebar-title {
    text-align: center;
    font-size: 24px; 
    font-weight: 100;
    /*font-weight: 100; */
    /*text-shadow: 0px 0px 1px rgba(88, 199, 182, 1);*/
    /*letter-spacing: -3; */
    color: rgba(88, 199, 182, 0.9);    
    margin: 0px 10px 5px;
}

.sidebar-title.sub-title {
    /*text-align: left;*/
    margin: 0px 30px;
    font-size: 14px; 
}

.bookmark-div {
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin: 10px 0px;
    background-color: rgba(88,199,182,0.2);
    color: #58C5B6;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}

.bookmark-div:hover {
    background-color:rgba(88,199,182,0.35);
}

#billboard {
    position: absolute;
    top: 0px;
    margin: 5px auto;
    left: 0px;
    right:0px;
    z-index: 999;
    color: #FFF;
    opacity: 0.5;
    text-align: center;
    display: block;
    /*background: rgba(240, 240, 240, .9);*/
    max-width: 400px;
}

#yearDiv {
    display: inline-block;
    text-align: center;
    /*font-size: 65px;*/
    margin-top: 20px;
    
    font-size: 64px; 
    font-weight: 100; 
    text-shadow: 0px 0px 8px rgba(88, 199, 182, 1);
    letter-spacing: -3; 
    color: rgba(88, 199, 182, 0.20);
}

#magDiv {
    /*display: inline-block;*/
    /*max-width: 700px;*/
    width: 0px;
    text-align: right;
    /*margin-top: 20px;*/
    left: 0px;
    right:0px;
    margin: 0px auto; 
    /*background: rgba(240, 240, 240, .9)*/
    
    font-size: 20px; 
    font-weight: 300;
    text-shadow: 0px 0px 8px rgba(88, 199, 182, 0.5);
    color: rgba(88, 199, 182, 0.20)
}

#divider {
    width: 100%;
    height: 10px;
    position: absolute;
    /*background-color: #eee;*/
    top: -10px;
    z-index: 99;

    background: #202222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(88,199,182,0), rgba(88,199,182,0.25)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(88,199,182,0), rgba(88,199,182,0.25)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(88,199,182,0), rgba(88,199,182,0.25)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(88,199,182,0), rgba(88,199,182,0.25)); /* Standard syntax (must be last) */
}

.fa {
    color: rgba(88, 199, 182, 1);
    line-height: inherit;
}

/*.fa-share-alt {
    color: rgba(88, 199, 182, 1);
    line-height: inherit;
}

.fa-bars {

}*/

.esriPopup .contentPane {
    background-color: #202222;
    color: rgba(88,199,182,1);
    max-width: 200px;
    line-height: 24px;
    opacity: 0.7;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 100;
    
}

.esriPopup .esriPopupWrapper {
    box-shadow: none;
}

.esriPopup .actionsPane {
    display: none;
}

.esriPopup .titlePane {
    display: none;
}

/*.esriPopup .pointer  {
    display: none;
}

.esriPopup .outerPointer  {
    display: none;
}*/

.esriPopup .outerPointer.left  {
    display: none;
}

.esriPopup .outerPointer.right  {
    display: none;
}

.esriPopup .pointer.bottom {
    display: none;
}

.esriPopup .pointer.top {
    display: none;
}

.esriPopup .pointer.bottomLeft {
    display: none;
}

.esriPopup .pointer.bottomRight {
    display: none;
}